<?xml version="1.0" encoding="utf-8"?>
<module clientResourceRelativePath="1.0.0">
  <!--type="ExtendedContentCopy.EditMode.ExtendedContentCopyModuleViewModelModule, ExtendedContentCopy"-->
  <assemblies>
    <add assembly="ExtendedContentCopy" />
  </assemblies>

  <clientModule initializer="extended-content-copy.moduleInitializer">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
  </clientModule>

  <dojo>
    <paths>
      <add name="extended-content-copy" path="scripts" />
    </paths>
  </dojo>
</module>
